client
dev tun
proto {{ openvpn_protocol }}
remote {{ server_name }} {{ openvpn_port }}
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
cipher {{ cipher }}
auth {{ auth_digest }}
{% if compress_algorithm != '' %}
compress {{ compress_algorithm }}
{% endif %}
verb {{ log_level }}
keepalive {{ keepalive_ping }} {{ keepalive_timeout }}
float

<ca>
{{ ca_cert }}
</ca>

<cert>
{{ client_cert }}
</cert>

<key>
{{ client_key }}
</key>

{% if tls_auth_required %}
<tls-auth>
{{ tls_auth_key }}
</tls-auth>
key-direction 1
{% endif %}